<ul>
  <li>
    <%= f.text_field :email, placeholder: "Enter Email" %><br/>
  </li>
  <li>
    <%= f.password_field :password, placeholder: "Enter Password" %><br/>
  </li>
  <li>
    <%= f.submit "Log In" %>
  </li>
</ul>
