<div id="header">
  <ul id="nav">
    <li><a href="#">Gallery</a></li>
    <li><a href="#">Testimonials</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Pricing</a></li>
    <li><a href="#">Promotions</a></li>
    <li><a href="#">FAQ/Contact</a></li>
  </ul>
</div>

<div id="home">
  <p>I'm the home div</p>
  <button class="btn">Learn More</button>
  <button class="btn">View Gallery</button>
</div>
