<header id="page-header">
  <div id="header-logo">
  </div>
  <div id="company-name">
    <h2>Lashes by Jackie</h2>
  </div>
  <nav id="main-nav">
    <ul>
      <li><a href="#gallery">Gallery</a></li>
      <li><a href="#testimonials">Testimonials</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#faqs">FAQs</a></li>
      <li><a href="#pricing">Pricing</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#appointments">Appointments</a></li>
      <li><a href="#map">Map</a></li>
    </ul>
  </nav>
</header>

<section id="intro">
  <div class="transbox">
  </div>
    <h1>Lashes by Jackie</h1>
    <p>She's the best!</p>
    <a href="#services"><button class="btn services">Learn More</button></a>
    <a href="#gallery"><button class="btn gallery">View Gallery</button></a>
</section>

<section id="gallery">
  <h1>Photo Gallery</h1>
  <div id="pic-layout">
    <div class="gallery-pics"><img src="http://placedog.com/250/175"></div>
    <div class="gallery-pics"><img src="http://placedog.com/250/175"></div>
    <div class="gallery-pics"><img src="http://placedog.com/250/175"></div>
    <div class="gallery-pics"><img src="http://placedog.com/250/175"></div>
    <div class="gallery-pics"><img src="http://placedog.com/250/175"></div>
    <div class="gallery-pics"><img src="http://placedog.com/250/175"></div>
    <div class="gallery-pics"><img src="http://placedog.com/250/175"></div>
    <div class="gallery-pics"><img src="http://placedog.com/250/175"></div>
    <div class="gallery-pics"><img src="http://placedog.com/250/175"></div>
    <div class="gallery-pics"><img src="http://placedog.com/250/175"></div>
    <div class="gallery-pics"><img src="http://placedog.com/250/175"></div>
    <div class="gallery-pics"><img src="http://placedog.com/250/175"></div>
  </div>
</section>

<section id="testimonials">
  <!-- <h1>Testimonials</h1> -->
  <section class="stage">
    <div class="filmstrip">
      <article id="first" class="cell">
        <blockquote>
          <p class="testimonial">
            "I feel like a runway model when I leave Jackie and her art form of making my lashes appear FABULOUS!"
          </p>
        </blockquote>
        <footer class="testimonial-info">
          <span class="client-name">Kim</span><span class="testimonial-date">7/30/13</span>
        </footer>
      </article>

      <article id="second" class="cell">
        <blockquote>
          <p class="testimonial">
            "This is the BEST place to have eyelash extensions put on your eyes!!!! Jackie (who does my lashes) is the very BEST!!! She is an "artist" & her clients are her masterpieces. Give it a try & you will be hooked!! Enjoy"
          </p>
        </blockquote>
        <footer class="testimonial-info">
          <span class="client-name">Kimberly B.</span><span class="testimonial-date">7/1/2013</span>
        </footer>
      </article>

      <article id="third" class="cell">
        <blockquote>
          <p class="testimonial">"Got some lashes today! love them, Jackie is the best"</p>
        </blockquote>
        <footer class="testimonial-info">
          <span class="client-name">Michelle D.</span><span class="testimonial-date">7/10/2013</span>
        </footer>
      </article>

      <article id="fourth" class="cell">
        <blockquote>
          <p class="testimonial">"I've been going to Blash since they opened and I cannot imagine going anywhere else. I go there for my lashes and my hair. Love, love, love them!!</p><p>Thank you (as usual), Jackie."</p>
        </blockquote>
        <footer class="testimonial-info">
          <span class="client-name">Angie R.</span><span class="testimonial-date">4/18/2013</span>
        </footer>
      </article>


    </div>
  </section>
</section>

<section id="services">
  <h1>What Do We Do</h1>
</section>

<section id="faqs">
  <h1>Frequently Asked Questions</h1>

  <article>
    <h2>What are eyelash extensions?</h2>
    <p>
      BLASH lashes are semi-permanent, synthetic extensions that are meticulously glued onto your natural lash, one by one. At BLASH, we offer both Full and Half Sets of Personalized Eyelashes. With our Full Set, we apply extensions to 100% of your natural lash line, which amounts to a minimum of 85 extensions per eye. With our Half Set, you’ll get about 50 to 60 lashes per eye. Whichever you choose, you’ll be amazed with the results. And with the patented multi-layer technique we use, your new lashes will have that full, weightless, and luscious lash look. They'll look and feel like your natural lashes.
    </p>
  </article>

  <article>
    <h2>Do the synthetic eyelashes come in different lengths and thickness?</h2>
    <p>
      Yes, BLASH carries a variety of lash lengths and thicknesses. We use black colored lashes that are 8mm - 15mm in length, in "J" and "C" curl types. The thicknesses of our lashes are .15mm, .18mm, and .20mm. We also stock specialty lashes such as our V lashes that create a thicker look with more volume. If you’re going for a specific look, just let us know and we’ll do our best to make it happen for you.
    </p>
  </article>

  <article>
    <h2>How are the eyelash extensions applied?</h2>
    <p>
      Most of the extensions out there use the orignial, single-layer technique. At BLASH, we are trained and certified to use the <a href="http://longmilashes.com/" target="_blank" title="">U.S. Patented Method for Multi-Layer Eyelash Extensions™</a> created by Daniel Dinh in Beverly HIlls, CA. Basically, one of your natural eyelashes is isolated so that a synthetic lash can be glued to it at approximately 1mm from the eyelid. Neither the glue nor the lash has contact with the skin.
    </p>
  </article>

  <article>
    <h2>Are the eyelash extensions glued to my skin?</h2>
    <p>
      Never! Lashes are attached approximately 1mm from the eyelid.
    </p>
  </article>

  <article>
    <h2>Are BLASH stylists licensed, trained, or certified?</h2>
    <p>
      Yes, absolutely! All BLASH stylists are licensed cosmetologists with the state of Texas. They have been personally trained and certified by Daniel Dinh, CEO and creator of Lôngmi Lashes by Daniel in Beverly Hills, CA. Lôngmi Lashes by Daniel is The First &amp; Only US Patented Method for Multi-Layer Eyelash Extensions™.
    </p>
  </article>

  <article>
    <h2>How long does the application take?</h2>
    <p>
      New clients getting a Full Set of Personalized Eyelashes can expect the procedure to take approximately 2 hours. A Half Set will take about 1.5 hours. If you’re coming in for refills or Replenishments, then you can expect to be in with us from 45 minutes to about an hour.
    </p>
    <p>
      Getting your lashes done is a meticulous procedure and our stylists always make sure you leave with a perfect set of extensions. During the procedure, you lie down relaxed with your eyes closed, and, since this is a non-invasive procedure, you won’t experience any pain or discomfort. Often, clients are so relaxed that they fall asleep, and that’s perfectly fine.
    </p>
  </article>

  <article>
    <h2>Are my eyes open during the procedure?</h2>
    <p>
      No, your eyes are closed during the entire procedure. It’s such a relaxing environment that many of our clients fall asleep during the procedure.
    </p>
  </article>

  <article>
    <h2>How long do the lash extensions last?</h2>
    <p>
      Our lash extensions can last anywhere from 4-6 weeks. On average, our clients come in for touch-ups once a month. &nbsp;If you take care of your new lashes, then they’ll last a long time.&nbsp;
    </p>
  </article>

  <article>
    <h2>Do I have to get a full set of eyelash extensions?</h2>
    <p>
      No, if you don't think you'll want or need a Full Set of extensions, then try our Half Set of Personalized Eyelashes. With a Half Set, you'll still get about 50 to 60 extensions per eye.
    </p>
  </article>

  <article>
    <h2>What are Replenishments, and how often do I need them?</h2>
    <p>
      After you get your new set, we recommend that you come in for your first Replenishment in 2 weeks. After that, you can come in every 4 weeks, depending on the condition of your lashes.
    </p>
    <p>
      During a Replenishment, our stylists will inspect your entire lashline. Lashes that have fallen off will be replaced, and extensions on lashes that have grown out will be removed and replaced. After a Replenishment, you’ll leave with what looks like a brand new set of personalized eyelashes.
    </p>
    <p>
      Please note that if your extensions were applied by another salon, and you want them replenished at BLASH, we will be happy to replace your existing extensions with a new Full Set of Personalized Eyelashes.
    </p>
  </article>

  <article>
    <h2>Do eyelash extensions make my own lashes fall out?</h2>
    <p>
      No, this is a myth. Getting eyelash extensions will not make your own lashes fall out prematurely. However, your eyelashes do shed naturally, and constantly, at a rate of about 1 to 3 lashes per day. And as your natural lashes fall out, so will your extensions along with them. Of course, if you have a bad habit of pulling or rubbing on your lashes, there’s a higher probability that you’ll cause your lashes to fall out. So, do yourself a favor and don’t rub, pick, pull out, or play with your extensions, and they’ll last longer.
    </p>
  </article>

  <article>
    <h2>Can I still wear eye makeup?</h2>
    <p>
      Yes, you can still wear eye makeup, but you won’t need any mascara. And you may even find that you won’t need any eyeliner either, but you can still use your eyeliner and eye shadow as usual.
    </p>
    <p>
      We recommend that you try not to get any cream, lotion, or any other oil-based products on your extensions. Also don’t use any waterproof mascara or eyeliner. This is because the oil in these types of products will degrade the glue used to adhere your extensions to your lashes, and they won’t last as long. If you stick with oil-free makeup and makeup remover, then you’ll be fine.
    </p>
  </article>

  <article>
    <h2>Can I wear mascara?</h2>
    <p>
      You can, but not&nbsp;necessary. If you want, you can wear a non-waterproof mascara.
    </p>
  </article>

  <article>
    <h2>Can I curl my eyelash extensions?</h2>
    <p>
      No, do not use an eyelash curler. If you want a curlier effect, be sure to let us know so that we can use the appropriate lash extension for you.
    </p>
  </article>

  <footer class="faq-footer">
    <p>
      If you have any other questions not addressed here, don't hesitate to give us a call at (972) 335-5274.
    </p>
  </footer>
</section>

<section id="pricing">
  <h1>Pricing</h1>
</section>

<section id="contact">
  <h1>Ask Your Question</h1>
</section>

<section id="appointments">
  <h1>Schedule Your Appointment</h1>
</section>

<section id="map">
  <h1>Directions</h1>
</section>

<footer id="page-footer">
</footer>