<% unless @user.first_name == "" %>
  Welcome, <%= @user.first_name %>
<% else %>
  Welcome! Update your profile <%= link_to "here", edit_user_path(@user.id) %>
<% end %>

<p>
  <%= session.inspect %>
</p>