body{
  background: blue;
}

#container{
  width: 100%;
  height: 4000px;
  background-color: white;
  margin: 0 auto;
}

#header{
  border-bottom: 1px solid #ddd;
  height: 74px;
}

#main-nav ul{
  float: right;
  margin: 0 auto;
  height: 75px;
  width: 690px;
  line-height: 75px;
}

#main-nav ul li{
  display: inline;
  margin: 0 20px;
  font-family: arial;
  font-size: .9em;
}

#main-nav ul a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#main-nav ul a:hover{
  color: gray;
}

#home{
  position: absolute;
  background-color: tan;
  height: 600px;
  width:100%;
}

#home button{
  height: 50px;
  width: 150px;
  border-radius: 8px;
  background-color: #1abc9c;
  color: white;
}

#home button.btn{
  font-size: 1.25em;
  position: relative;
  top: 325px;
  left: 15px;
  margin-left: 15px;
}
#home button.btn.gallery{
  background-color: maroon;
}