.carousel-inner .item img {
  margin: 0 auto;
}

nav.navbar {
  border-radius: 0px;
}

div.container .row{
  padding: 5px 15px;
  margin: 0 auto;
}

div.container .row img{
  padding: 10px;
}

/*@media (max-width: @screen-xs-max) {
 .col-xs-2: none;
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { .col-sm-2:750px; }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { .col-md-3:970px; }
@media (min-width: @screen-lg-min) { .col-lg-4:1170px; }*/